<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile left-align">
                            <div class="avatar">
                                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.profile.avatar) %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- theme.profile.boy %></div>
                                <div class="career"><%- theme.profile.career_boy %></div>
                                <div>
                                <ul >
                                  <li><b>Loved Color: <%- theme.profile.boy_color %></li>
                                  <li>Loved Drink: <%- theme.profile.boy_drink %></li>
                                  <li>Loved Fruits: <%- theme.profile.boy_fruit %></li>
                                </ul>
                                </div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l4">
                        <div class="profile left-align">
                            <div class="avatar">
                                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.profile.pig) %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- theme.profile.girl %></div>
                                <div class="career" center-align><%- theme.profile.career_girl %></div>
                                <ul >
                                  <li>Loved Color: <%- theme.profile.girl_color %></li>
                                  <li>Loved Drink: <%- theme.profile.girl_drink %></li>
                                  <li>Loved Fruits: <%- theme.profile.girl_fruit %></li>
                                </ul>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <div class="center-align" data-aos="fade-up" style="color:#F00" ><%= theme.profile.introduction[0] %></div>
                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction[1] %></div>
                <div class="center-align" data-aos="fade-up" style="color:#F00"><%= theme.profile.introduction[2] %></div>
                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction[3] %></div>
                <div class="center-align" data-aos="fade-up" style="color:#F00"><%= theme.profile.introduction[4] %></div>
                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction[5] %></div>

                <% if (theme.myProjects && theme.myProjects.enable) { %>
                <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (theme.mySkills && theme.mySkills.enable) { %>
                <%- partial('_widget/my-skills') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>
                
                <% if (theme.artitalk && theme.artitalk.enable) { %>
                <%- partial('_widget/artitalk') %>
                <% } %>
                
            </div>
        </div>
    </div>
</main>
