<% if (site.posts && site.posts.length > 0) { %>
<div class="statis">
    <span class="count"><a href="<%- url_for('/') %>"><%- site.posts.length %></a></span>
    <span class="name"><%- __('posts') %></span><br>
    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.profile.love) %>" alt="<%- config.author %>">
</div>
<% } %>



